<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

	</head>
	<body>
		<nav>
			<a href=" {{ path('home') }} ">
				Accueil</a>
			<a href=" {{ path('user') }} ">
				Profil</a>
		</nav>

		{% block body %}{% endblock %}
	</body>
</html>
