{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation
{% endblock %}

{% block body %}

	<div class="login-container">

		<div class="login-card">

			<h1 class="login-title">Réinitialisation du mot de passe</h1>

			{{ form_start(requestPassForm) }}

			<div class="form-group">
				{{ form_row(requestPassForm.email) }}
			</div>

			<button type="submit" class="btn-create">
				Envoyer
			</button>

			{{ form_end(requestPassForm) }}

		</div>

	</div>

{% endblock %}
